.login {
  &Wrap {
    height: calc(100vh - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    h1 {
      text-align: center;
      font-size: 30px;
      color: rgb(68, 56, 141);
      padding: 20px 0;
    }
    .inputBox {
      display: flex;
      flex-direction: column;
      width: 400px;
      margin: 10px 0;
      position: relative;
      img{
          cursor: pointer;
          position: absolute;
          width: 18px;
          right: 9px;
          bottom: 9px;
      }
      label {
        font-size: 14px;
        font-weight: 600;
        color: rgb(90, 79, 79);
      }
      input {
        padding: 7px;
        background-color: #e8f0fe;
        border-radius: 4px;
        font-size: 14px;
        &:focus-visible {
          border: none;
          outline: 1px solid #c7cbd3;
        }
      }
    }
    button{
        background-color: #0C4BB5;
        width: 100%;
        padding: 10px;
        text-align: center;
        border: none;
        cursor: pointer;
        margin-top: 20px;
        border-radius: 5px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        transform: all ease .3s;
        &:hover{
            background-color: #0c409b;
        }
    }
    p{
        margin: 20px 0;
        font-size: 15px;
        span{
            color: #0c409b;
            font-weight: 600;
        }
    }
    .register{
        text-align: center;
    }
  }
}
