@import "/src/mixins";
@import "/src/variables";

.profile{
    @include section-width;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.detailsSection{
    .detailsTitle{
        font-size: 20px;
        color: #0c203a;
        margin-bottom: 10px;
    }
    .inputBox{
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        label{
            font-size: 15px;
            color: #0c203a;
            font-weight: 500;
        }
        input , .openRoles{
            background: #0c4bb50d;
            border: none;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid #959aa3;
            &:hover{
                border: 1px solid #2d68c2;
            }
            &:focus{
                border: 1px solid #2d68c2;
            }
        }
        position: relative;
        .rolesDropdown{
            position: absolute;
            top:100%;
            border-radius: 4px;
            width: 95%;
            cursor: pointer;
            transition: all ease .3s;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            padding: 5px 0;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            div:last-child{
                border-bottom-right-radius:5px ;
                border-bottom-left-radius:5px ;
            }
            .roleOption{
                background: #fbfbfb;
                padding: 8px 15px;
                font-size: 14px;
                font-weight: 500;
                &:hover{
                    background: #cac5c5;
                }

            }

        }
        .openRoles{
            .role{
                background: #e0e8f4;
                border-radius: 4px;
                padding: 5px;
                color: #2a53b1;
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 6px;
                img{
                    cursor: pointer;
                    width: 10px;
                }
            }
            display: flex;
            flex-wrap: wrap;
            .rolesAddInput{
                border: none;
                background-color: transparent;
                &:focus-visible{
                    border: none !important;
                    outline: none;

                }
                &:focus{
                    outline: none;
                    border: none;

                }
                
                
            }
        }
    }
}