@import "/src/mixins";
@import "/src/variables";
.jobsCount{
  font-weight: 600;
 padding-left: 80px;
 font-size: 18px;
 padding-bottom: 10px;
}
.skeletonLoaders{
  margin-top:40px;
}
.jobsWrapper {
  position: relative;
  display: grid;
  grid-template-columns:2fr 3fr;
  column-gap: 20px;
  padding-bottom:50px;
  @include section-width;
  
  @media (max-width:978px) {
    grid-template-columns:1fr;
    
  }
  .alertCreate {
    background-color: #e6e7e7;
    border-radius: 8px;
    padding:18px;
    max-width: 250px;
    .alertTitle {
      color: black;
      font-size: 15px;
      margin: 0;
      line-height: 0.8;
      font-weight: 600;
    }
    .alertDescription {
      color: #7c7e89;
      font-size: 12px;
      line-height: 1;
      margin: 6px 0;
    }
    input {
      width: 100%;
      padding: 8px;
      margin-top: 15px;
      font-size: 15px;
      border-radius: 3px;
      &:focus {
        outline: none;
      }
    }
    button {
      font-size: 12px;
      font-weight: 600;
      background: #0062ff;
      color: #fff;
      margin-top: 10px;
      width: 120px;
      border: none;
      border-radius: 4px;
      padding: 6px;
      cursor: pointer;
    }
  }
  .focused{
    border: 2px solid #010203;
  }
  .job {
    cursor: pointer;
    max-width: 480px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.048) 0px 5px 15px 0px;
    @media (max-width:978px){
      max-width: none;
    }
    h1 {
      font-size: 50px;
    }
    .logoWrapper{
      display: flex;
      // justify-content: space-between;
      align-items: flex-start;
      gap: 15px;
      position: relative;
      .logo {
        width: 60px;
        border-radius: 5px;
      }
      .saveWrap{
        border: 1px solid #7b7b8541;
        width: 25px;
        height: 25px;
        border-radius: 5px;
        display: grid;
        place-items: center;
        position: absolute;
        right: 0;
        top: 0;
        img{
          width: 13px;
        }
      }
      .save{
        cursor: pointer;
      }
      
    }
    .jobTitle {
      font-weight: 600;
      font-size: 19px;
      max-width: 330px;
      word-break: break-word;
    }
    .OrganizationName{
      max-width: 330px;
      font-weight: 600;
      margin-bottom: 20px;
      font-size: 14px;
      color: rgb(214, 82, 21);
    }
    .jobDescription {
      color: #7b7b85;
      font-size: 15px;
      line-height: 1.4;
      margin-top: 20px;
    }
    .jobTags {
      display: flex;
      align-items: center;
      column-gap:15px;
      // justify-content: space-between;
      margin-bottom: 12px;
      .tag {
        background: #e1ebfb;
        color: #6ca3fd;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 8px;
        font-size: 12px;
        font-weight: 600;
      }
    }
    .buttons {
      margin-top: 20px;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      column-gap: 15px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        border-radius: 4px;
        padding: 8px 0;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        &:nth-child(1) {
          @include buttonBackground;
          color: #fff;
        }
        &:nth-child(2) {
          background: #f0f0f0;
          color: #73737e;
        }
      }
    }
    
  }
}
@media (min-width:978px) {
}
